.container{
    padding: 30px 0 60px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.carouselStationary{
    margin-top: 30px;
    max-width: 900px;
    width: 100%;
    position: relative;
    display: flex;
}

.carouselSlider{
    display: flex;
    overflow-x: hidden;    
    /* scroll-snap-type: x mandatory; */
}

.carouselSlider > div{
    width: 100%;
    scroll-snap-align: center;
}

.leftSlider{
    border: none;
    outline: none; 
    position: absolute;
    background: none;
    left: 0;
    transform: translate(0px, -10px);
    height: 100%;
}

.rightSlider{
    border: none;
    outline: none;
    position: absolute;
    background: none;
    right: 0;
    transform: translate(0px, -10px);
    height: 100%;
}

.sliderIndicator{
    margin: 20px 0 20px 0;
}

.sliderIndicator > input[type="radio"]{
    margin: 0px 5px 0px 5px;
    height: 5px;
    width: 5x;
    border: none;
}

.sliderIndicator > input[type="radio"]::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--primary-color);

}

.sliderIndicator > input[type="radio"]:checked::after{
    background-color:  var(--primary-color);;
}