.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #F7F5F6;
    margin: 20px;
    
}

.description{
    margin: 20px;
    text-align: center;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.link{
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 5px;
}

.link:hover{
    color: #2b6777;
    border-bottom: 2px solid #2b6777;
}