.container{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 7px;
    background-color: #2b6777;
}

.description{
    margin: 20px;
    text-align: center;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0.35px;
    color: white;
}

.title{
    color: white;
    text-align: center;
}

.link{
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

.link:hover{
    color: white;
    border-bottom: 3px solid white;
}