.listContainer{
    list-style-type: None;
    position: relative;
}

.items{
    position: relative;
    padding:20px 0;
    width: 3px;
    border-radius: 10px;
    background-color: #c8d8e4;
    margin: 0 auto;
}

.items::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 40px;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #c8d8e4;
}

li:nth-child(odd) div{
    left:55px;
}

li:nth-child(even) div{
    left: calc(-40vw - 55px);
}

/* media queries */
@media screen and (max-width: 900px){
    .items{
        margin: 0 0 0 40px;
    }

    li:nth-child(n) div{
        left: 7vw;
    }
}

@media screen and (max-width: 455px){
    .items{
        margin: 0 0 0 30px;
    }

    li:nth-child(n) div{
        left: 7vw;
    }
}