.container{
    width:40vw;
    max-width: 700px;
    height: 100%;
    padding: 15px;
    position: relative;
    border-radius: 10px;
    background-color: #F7F5F6;
    /* background: linear-gradient(#5EC2BA, #66D1B4, #7DDFA6, #A0EA94, #CAF381, #F9F871); */
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.head_col1{
    margin-right: 20px;
    width: fit-content;
}
.head_col2{
    width: fit-content;
}

.body{
    padding-top: 20px;
    width: 100%;
}
.body ul{
    margin-left: 15px;
}
.body ul li {
    position: relative;
    margin: 10px 0;
    list-style: none;
}

.body ul li::before {
    content: "\2022";
    position: absolute;
    color: #ED747A;
    left: -15px;
    top: 5px;
}

.container h4{
    font-weight:200;
    line-height: 24px;
}

.container p{
    text-align: justify;
    text-justify: inter-word;
    font-weight:200;
    line-height: 24px;
    padding-bottom: 5px;
}

.expand{
    border: none;
    width:fit-content;
    height: fit-content;
    margin-left: 50%;
    background-color: transparent;
}

/* media queries*/
@media screen and (max-width: 900px){
    .container{
        width:78vw;
    }
}