.container{
    width:40vw;
    max-width: 700px;
    height: 100%;
    padding: 15px;
    position: relative;
    border-radius: 10px;
    background-color: var(--tertiary-color);
}

.head{
    display: inline-block;
    padding-bottom: 5px;
    width: 90%;
}

.expand{
    border: none;
    width:50px;
    height: 60px;
    background-color: transparent;
    outline:none;
    top:0;
    right: 0;
    position: absolute;
}


.body{
    padding-top: 20px;
    width: 100%;
}
.body ul{
    margin-left: 15px;
}
.body ul li {
    position: relative;
    margin: 10px 0;
    list-style: none;
}

.body ul li::before {
    content: "\2022";
    position: absolute;
    color: var(--primary-color);;
    left: -15px;
    top: 5px;
}

.container h{
    padding: 10px;
    color: var(--dark-text-color);
}
.container h4{
    font-weight:500;
    line-height: 24px;
}

.container p{
    text-align: justify;
    text-justify: inter-word;
    font-weight:400;
    line-height: 24px;
    padding-bottom: 5px;
    color: var(--dark-text-color);
}

/* media queries*/
@media screen and (max-width: 900px){
    .container{
        width:78vw;
    }
}