* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

:root{
  --primary-color: #2b6777;
  --secondary-color: #c8d8e4;
  --tertiary-color: #F7F5F6;
  --dark-text-color: black;
  --light-text-color: white;
}
